.wrapper {
    display: flex;
    margin-left: -1%;
}

.user-list {
    flex: 1;
    height: 100vh;
    background-color: #fff;
}

.user-item {
    padding: 20px 10px;
    border-bottom: 1px solid var(--section-color);
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
        background-color: #d3e0ea;
    }

    &:last-child {
        border-color: transparent;
    }

    &:hover {
        background-color: #d3e0ea;
    }
}

.user-avt {
    margin-right: 10px;
}

.main-chat {
    width: 80%;
    border-left: 1px solid var(--primary-text-color);
}

.chat-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-object {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.chat-object-avatar {
    margin-left: 10px;

    &.message {
        width: 30px;
        height: 30px;
    }
}

.chat-object-name {
    margin-left: 20px;
    letter-spacing: 1px;
}

.chat-content {
    height: 80%;
    padding: 0 10px;
    padding-top: 6px;
    overflow-y: auto;
    background-color: #fff;
}

.chat-message {
    margin: 10px 0;
    display: flex;
    align-items: flex-end;

    & span {
        display: block;
        margin: 0 10px;
        padding: 10px 15px;
        width: fit-content;
        max-width: 50%;
        border-radius: 15px;
        background-color: var(--button-primary-color);
        color: #fff;
    }

    &.me span {
        background-color: var(--second-color);
        margin: 10px 0 0 auto;
    }
}

.chat-time {
    margin-bottom: 4px;
    font-size: 13px;
    font-style: italic;
    background-color: transparent;

    &.me {
        margin: 10px 0 0 auto;
    }
}

.chat-area-text {
    background-color: #fff;
    flex: 1;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.chat-input {
    display: block;
    width: 100%;
    margin-right: 20px;
    padding: 10px 5px;
    padding-left: 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 4px 20px 1px #e2e2e2;
    caret-color: #ccc;

    &::placeholder {
        color: #959595;
    }

    &:focus {
        border: 1px solid var(--primary-color);
    }
}

.btn-send {
    color: var(--button-third-color);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.notice {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
