:root {
    --avatar-width: 15%;
}

.wrapper {
    // margin: 20px 0;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-top-item-color);
}

.detail-item {
    flex: 1;
    display: flex;
    align-items: center;

    &.interned {
        width: 100%;
    }
}

.data-item {
    font-size: 14px;
    width: calc(100% / 4);

    &.interned {
        width: calc(100% / 5);
    }
}

.options {
    width: 8%;

    &.hide-options {
        width: 0;
    }
}

.option-item {
    // text-align: center;
    margin-left: 25%;
}

.view-icon {
    color: #f89880;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.btn-submit {
    margin: 4px 0;
    padding: 6px 20px;
    // width: 60%;
    color: #fff;
    line-height: 20px;
    background-color: var(--working-color);
    font-size: 14px;
    border-radius: 6px;
    border: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
