.wrapper {
    width: 800px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    animation: showOverlay 0.2s ease-in-out forwards;
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-main-btn {
    float: right;
    padding: 3px;
    color: #fff;
    background-color: var(--button-second-color);
    font-size: 24px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.title-heading {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.deadline-info {
    display: flex;
    justify-content: space-between;

    & span {
        display: block;
    }
}
