.wrapper {
    display: flex;
    position: relative;
}

.section {
    flex: 1;
    margin-left: 17%;
    padding-left: 30px;
    padding-top: 20px;
    width: 100%;
    min-height: 100vh;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--section-color);
    animation: minimizeSection 0.6s linear forwards;

    &.maximizeSection {
        animation: maximizeSection 0.6s linear forwards;
    }
}

@keyframes maximizeSection {
    0% {
        margin-left: 17%;
    }
    100% {
        margin-left: 4%;
    }
}

@keyframes minimizeSection {
    0% {
        margin-left: 4%;
    }
    100% {
        margin-left: 17%;
    }
}

.chatbot {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // border: 2px solid #ffffff;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.chatbot-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
