:root {
    --avatar-width: 15%;
}

.wrapper {
    // margin: 20px 0;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-top-item-color);
}

.detail-item {
    width: 90%;
    display: flex;
    align-items: center;
}

.data-item {
    font-size: 14px;

    &:first-child {
        width: 10%;
        text-align: center;
    }

    &:nth-child(2) {
        width: 20%;
    }

    &:nth-child(3) {
        width: 30%;
    }

    &:nth-child(4) {
        width: 20%;
    }

    &:last-child {
        width: 20%;
    }
}

.teaching-status {
    background-color: var(--working-color);
}

.stop-status {
    background-color: var(--stop-work-color);
}

.teaching-status,
.stop-status {
    display: block;
    max-width: 100px;
    padding: 4px 14px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    user-select: none;
}

.options {
    width: 10%;
    display: flex;
    align-items: center;
}

.option-item {
    padding-left: 10px;
}

.option-item:first-child {
    padding-left: 0;
}

.view-icon {
    color: #f89880;
}

.edit-icon {
    color: #40b5ad;
}

.delete-icon {
    color: #ff7499;
}

.view-icon,
.edit-icon,
.delete-icon {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}
