.logo {
    height: 45px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-size: 30px;
}

.headerLogo {
    display: none;
}

.icon {
    // font-size: 34px;
    cursor: pointer;

    &:hover {
        color: rgba(255, 255, 255, 0.9);
    }
}
