.wrapper {
    width: 700px;
    position: fixed;
    top: 10%;
    left: calc(100% - 700px);
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    animation: showOverlay 0.2s ease-in-out forwards;
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-main-btn {
    float: right;
    padding: 3px;
    color: #fff;
    background-color: var(--button-second-color);
    font-size: 24px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.title-heading {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.job-category {
    margin: 20px 0;
}

.main-heading {
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--second-text-color);
}

.job-item {
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.job-name {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 10px;
    padding-right: 36px;
    outline: none;
    caret-color: var(--heading-section-text);
    color: #969696;

    &::placeholder {
        color: var(--heading-section-text);
    }

    &:focus {
        border-color: #999999;
    }
}

.job-name {
    & span {
        margin-left: 6px;
    }
}

.job-deadline {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.deadline-info {
    display: flex;
    align-items: center;

    & h5 {
        margin-right: 10px;
        font-size: 14px;
    }

    & input[type='date'] {
        width: 55%;
        padding: 4px 10px;
        font-size: 14px;
        color: #929292;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
    }
}

.btn-add {
    padding: 6px 20px;
    color: #fff;
    background-color: var(--working-color);
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    &.view-appreciation {
        background-color: var(--primary-color);
    }

    &.remove-todo {
        background-color: var(--second-color);
    }

    &:hover {
        opacity: 0.8;
    }
}

.todo-list {
    margin-top: 10px;
    height: 350px;
    background-color: #fff;
    border-radius: 8px;
    overflow-y: auto;
}

.todo-item {
    margin: 10px 20px;
    padding: 15px 20px;
    border: 1px solid var(--fail-color);
    border-radius: 8px;

    &.completed {
        border-color: var(--working-color);
    }
}

.todo-info {
    display: flex;
}

.todo-name,
.todo-status {
    width: 50%;
    font-size: 14px;
}

.todo-name {
    font-weight: 500;
}

.todo-status {
    text-align: right;
    color: var(--stop-work-color);

    &.completed {
        color: var(--working-color);
    }
}

.appreciate {
    flex: 1;
    margin-top: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.appreciate-input {
    display: block;
    width: 100%;
    margin-right: 20px;
    padding: 10px 5px;
    padding-left: 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 4px 20px 1px #e2e2e2;
    caret-color: #ccc;

    &::placeholder {
        color: #959595;
    }

    &:focus {
        border: 1px solid var(--primary-color);
    }

    &.completed:focus {
        border-color: transparent;
    }

    &.completed {
        cursor: default;
    }
}

.btn-send {
    color: var(--button-third-color);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.todo-time-info {
    margin-top: 10px;

    & span {
        font-size: 14px;
    }
}

.btn-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
