.job-list {
    margin: 20px 0;
}

.main-heading {
    color: var(--second-text-color);
    font-size: 16px;
    margin: 0;
}

.job-menu {
    display: flex;
    margin-top: 20px;
    padding: 4px;
    border-radius: 8px;
    background-color: #fff;
}

.job-menu-item,
.job-item {
    width: 18%;
    margin: 10px calc((100% - 18% * 5) / 10);
    font-size: 15px;
}

.job-menu-item {
    font-weight: bold;
    color: var(--primary-text-color);
}

.job-category {
    margin: 20px 0;
}

.job-info-list {
    margin: 10px 0;
    padding: 4px;
    border-radius: 8px;
    background-color: #fff;
}

.job-info-item {
    display: flex;
    padding: 4px 0;
    border-bottom: 1px solid var(--section-color);

    &:last-child {
        border: none;
    }
}

.btn-choose,
.btn-destroy {
    padding: 6px 20px;
    background-color: var(--working-color);
    color: #fff;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}

.btn-destroy {
    background-color: var(--button-primary-color);
}

.request-list {
    background-color: #fff;
    border-radius: 8px;
}

.request-item {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid var(--section-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
        display: block;
        font-size: 14px;
    }

    & span.isPending,
    & span.isActive,
    & span.unActive {
        display: flex;
        align-items: center;
    }

    & span.isActive > span {
        margin-left: 10px;
        padding: 4px 20px;
        border-radius: 20px;
        text-align: center;
        color: #ffff;
        background-color: var(--working-color);
    }

    & span.unActive > span {
        margin-left: 10px;
        padding: 4px 20px;
        border-radius: 20px;
        text-align: center;
        color: #ffff;
        background-color: var(--fail-color);
    }

    & span.isPending > span {
        margin-left: 10px;
        padding: 4px 20px;
        border-radius: 20px;
        text-align: center;
        color: #ffff;
        background-color: var(--second-color);
    }
}

.chosed-job {
    position: relative;
    width: 70%;
    margin: 20px auto 30px auto;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 1px #e2e2e2;
    background-color: #ffff;
}

.chosed-job-item {
    margin: 10px 0;
    font-size: 14px;

    & h4 {
        margin-right: 10px;
        margin-bottom: 4px;
    }
}

.options-btn {
    position: absolute;
    top: 85%;
    right: 10px;
}

.btn-regist,
.btn-cancel {
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}

.btn-cancel {
    margin-left: 20px;
    background-color: var(--second-color);
}
