.wrapper {
    padding-right: 20px;
    overflow-x: auto;
}

.title-heading {
    color: var(--primary-text-color);
    font-size: 16px;
    margin: 0;
}

.job-category {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.list-heading {
    color: var(--second-text-color);
    font-size: 15px;
    margin: 0;
}

.job-list {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    & .job-item {
        --width-item: 23%;
        margin: 10px calc((100% - var(--width-item) * 4) / 8);
        width: var(--width-item);
        height: 200px;
        box-shadow: 3px 1px 20px 1px #ccc;
    }
}

.pagination {
    margin: 10px 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-page {
    font-size: 20px;
    margin: 0 20px;
    user-select: none;
}

.btn-navigate {
    font-size: 30px;
    color: #939393;
    cursor: pointer;

    &:hover {
        color: #4d4d4d;
    }
}
