.wrapper {
    width: 700px;
    position: fixed;
    top: 20%;
    left: calc(100% - 700px);
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    animation: showOverlay 0.2s ease-in-out forwards;
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-heading {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #929292;
}

.user-detail {
    flex: 1;
    padding-left: 4px;
}

.user-form {
    display: flex;
    flex-wrap: wrap;
}

.user-data-item {
    width: 48%;
    margin-bottom: 16px;
    margin-right: 2%;
}

.full-width {
    width: 100%;
}

.input-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #888888;
}

.input-item {
    width: 100%;
    padding: 4px 10px;
    font-size: 14px;
    color: #929292;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.close-main-btn {
    float: right;
    padding: 3px;
    color: #fff;
    background-color: var(--button-second-color);
    font-size: 24px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.save-btn {
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 6px 20px;
    color: #fff;
    line-height: 20px;
    background-color: var(--button-primary-color);
    font-size: 14px;
    border-radius: 6px;
    border: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
