.wrapper {
    display: flex;
}

.section {
    flex: 1;
    margin-left: 17%;
    padding-left: 30px;
    // padding-top: 20px;
    width: 100%;
    min-height: 100vh;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--section-color);
    animation: minimizeSection 0.6s linear forwards;

    &.maximizeSection {
        animation: maximizeSection 0.6s linear forwards;
    }
}

@keyframes maximizeSection {
    0% {
        margin-left: 17%;
    }
    100% {
        margin-left: 4%;
    }
}

@keyframes minimizeSection {
    0% {
        margin-left: 4%;
    }
    100% {
        margin-left: 17%;
    }
}
