.title-heading {
    color: var(--primary-text-color);
    font-size: 16px;
    margin: 0;
}


.option-btn {
    margin-left: 30px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    outline: none;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &.signout-btn {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        background-color: #7ba0be;
        color: #fff;
    
        &:hover {
            opacity: 0.8;
        }
    }
}