.following-category {
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-heading {
    color: var(--second-text-color);
    font-size: 16px;
    margin: 0;
}

.notice-list {
    margin: 10px 0;
}

.notice-item {
    display: block;
    width: fit-content;
    margin: 10px 0;
    padding: 6px 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    user-select: none;

    &.system {
        background-color: var(--working-color);
    }

    &.teacher {
        background-color: var(--second-color);
    }
}

.btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--leave-work-color);
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}

.download-icon {
    margin-right: 8px;
}
