.wrapper {
    margin: 10px calc((100% - 22% * 4) / 8);
    padding: 10px;
    width: 22%;
    height: 300px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: -2px 2px 6px 1px #cecece;

    &:hover {
        transform: translateY(-5px);
        transition: all 0.4s linear;
    }
}

.job-desc {
    color: var(--primary-text-color);
}

.job-img {
    margin-top: 10px;
    width: 100%;
    height: 150px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.job-name {
    margin: 10px 0;
}

.job-vacancy {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.btn-options {
    display: flex;
    justify-content: space-between;
}

.btn-view,
.btn-edit {
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}

.btn-edit {
    background-color: var(--second-color);
}
