body:--webkit-scrollbar {
    width: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.heading {
    margin-bottom: 30px;
}

.reset-heading {
    color: var(--primary-color);
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    text-align: center;
}

.sub-reset-heading {
    display: block;
    text-align: center;
    font-size: 14px;
}

.input-item {
    margin-bottom: 10px;
}

.email {
    width: 100%;
    /* margin-top: 30px; */
    margin-bottom: 4px;
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
}

.hide-email {
    display: none;
}

.pass,
.repass {
    display: none;
}

.show-reset-pass {
    display: block;
}

.show-reset-pass span {
    display: inline-block;
    min-width: 160px;
}

.notice {
    display: block;
    font-style: italic;
    font-size: 12px;
}

.options-btn {
    margin-top: 10px;
}

.btn-submit {
    padding: 10px 26px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.return {
    margin-left: 50px;
    background-color: var(--second-color);
}
