.wrapper {
    width: 700px;
    position: fixed;
    top: 20%;
    left: calc(100% - 700px);
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    animation: showOverlay 0.2s ease-in-out forwards;
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-heading {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #929292;
}

.close-main-btn {
    float: right;
    padding: 3px;
    color: #fff;
    background-color: var(--button-second-color);
    font-size: 24px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.title-heading {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.list-heading {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--second-text-color);
}

.list-info {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--section-color);
}

.list-detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.list-detail-item {
    width: 100%;
    font-size: 14px;
}

.list-detail.community .list-detail-item:first-child {
    width: 60%;
}

.filters {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.filter-select-item {
    min-width: 100px;
    margin-right: 20px;
    padding: 4px 0 4px 4px;
    border-radius: 6px;
    border: 1px solid #dadada;
    color: #b1b1b1;
    outline: none;
}

.btn-options {
    display: flex;
}

.btn-add {
    margin-left: 30px;
    margin-right: 10px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    outline: none;
    border-radius: 6px;
    user-select: none;
    background-color: var(--button-primary-color);
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #8f7aec;
    }

    &.btn-edit {
        margin-left: 0;
        margin-top: 20px;
        background-color: var(--second-color);
    }

    &.btn-edit:hover {
        opacity: 0.8;
    }

    &.btn-delete {
        margin-left: 0;
        margin-top: 20px;
        background-color: var(--primary-color);
    }

    &.btn-delete:hover {
        opacity: 0.8;
    }
}
