.report-category {
    margin: 20px 0;
}

.main-heading {
    color: var(--second-text-color);
    font-size: 16px;
    margin: 20px 0;
}

.sub-heading {
    color: var(--heading-section-text);
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}

.todo-list {
}

.todo-item {
    position: relative;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid var(--working-color);

    &.expired {
        border-color: var(--fail-color);
    }

    &.active {
        border-color: var(--primary-color);
    }
}

.todo-name {
    & span {
        margin-left: 6px;
    }
}

.todo-deadline {
    margin: 20px 0 0 40%;
    display: flex;
}

.todo-status {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    padding: 4px 10px;
    width: fit-content;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &.completed {
        border-color: var(--working-color);
        color: var(--working-color);
    }
}

.deadline-info {
    display: flex;
    align-items: center;
    margin-right: 50px;

    & h5 {
        margin-right: 6px;
        font-size: 14px;
    }
}

.intern-detail {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--section-color);
}

.intern-input {
    width: 95%;
    padding: 6px 10px;
    border-radius: 6px;
    color: var(--second-text-color);
    font-size: 14px;
    border: 1px solid var(--primary-text-color);
    outline: none;
    cursor: default;

    &::placeholder {
        color: var(--second-text-color);
    }
}

.gif-btn {
    display: block;
    margin-left: 10px;
    color: var(--second-color);
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

#gif-input {
    display: none;
}

.option {
    display: flex;
    justify-content: center;
}

.btn-submit {
    padding: 6px 20px;
    background-color: var(--leave-work-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}
