.wrapper {
    width: 800px;
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    animation: showOverlay 0.2s ease-in-out forwards;
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-heading {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #929292;
}

.close-main-btn {
    float: right;
    padding: 3px;
    color: #fff;
    background-color: var(--button-second-color);
    font-size: 24px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.filters {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.filter-select-item {
    min-width: 100px;
    margin-right: 20px;
    padding: 4px 0 4px 4px;
    border-radius: 6px;
    border: 1px solid #dadada;
    color: #b1b1b1;
    outline: none;
}

.subject-list {
    height: 500px;
    overflow-y: scroll;
}
