.main-heading {
    color: var(--second-text-color);
    font-size: 16px;
    margin: 0;
}

.menu-heading {
    display: flex;
    margin-top: 10px;
    padding: 4px 0;
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
}

.menu-item,
.subject-info-item {
    width: 10%;
    margin: 10px calc((100% - 10% * 7) / 14);
}

.menu-item {
    font-size: 15px;
}

.subject-list {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
}

.subject-info {
    display: flex;
    margin: 5px;
    padding: 2px 0;
    border-bottom: 1px solid var(--section-color);

    &:last-child {
        border: none;
    }
}

.subject-info-item {
    font-size: 14px;
    border-radius: 10px;
    border: none;
    outline: none;

    &.btn-choose {
        padding: 2px 10px;
        color: #fff;
        background-color: var(--working-color);
        user-select: none;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.chosed-subject {
    width: 50%;
    height: 185px;
    margin: 20px auto 30px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 1px #e2e2e2;
    background-color: #ffff;

    &.registed {
        height: 210px;
    }
}

.chosed-subject-item {
    margin: 10px 0;
    display: flex;
    font-size: 14px;

    & h4 {
        margin-right: 10px;
    }
}

.options-btn {
    float: right;
}

.btn-regist,
.btn-cancel {
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}

.btn-cancel {
    margin-left: 20px;
    background-color: var(--second-color);
}
