.wrapper {
    padding-right: 20px;
}

.title-heading {
    color: var(--primary-text-color);
    font-size: 16px;
    margin: 0;
}

.menu-list {
    margin-top: 10px;
    display: flex;
}

.menu-item {
    margin-right: 40px;
    padding-bottom: 6px;
    cursor: pointer;
    user-select: none;
    position: relative;

    &.active {
        color: var(--primary-color);
    }

    &.active::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0%;
        height: 4px;
        border-radius: 10px;
        background-color: var(--primary-color);
        animation: showMenuItemBottomBar linear 0.3s forwards;
    }
}

@keyframes showMenuItemBottomBar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.main-content {
    margin-top: 30px;
}
